<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Directory</title>

    <link rel="stylesheet" th:href="@{/static/css/demo.css}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3>Races list</h3>
    <hr>

    <h1 th:text="#{text}"></h1>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="race : ${races}">
            <td th:text="${race.getTranslation()}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>